<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Кабельный_журнал.Properties.Settings.glzSQL1ConnectionString" connectionString="Data Source=glzSQL1.mssql.somee.com;Initial Catalog=glzSQL1;Persist Security Info=False;User ID=adSQLmin;Password=1qaz2wsx3edc4rfv;Packet Size=4096;Workstation ID=glzSQL1.mssql.somee.com" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
